Release*
Debug*
Unoptimized*

Makefile.common
tools/llcj/LinkPaths.h
lib/j3/LLVMRuntime/LLVMRuntime.inc
lib/vmkit/Compiler/LLVMRuntime.inc
lib/j3/ClassLib/Classpath.h
include/vmkit/config.h
mmtk/java/src/org/j3/config/Selected.java
mmtk/java/build.xml

mmtk/java/classes/

config.log
config.status

tests/logs.zip
tests/dacapo/*/j3
tests/dacapo/*/ijvm
tests/dacapo/logs
